.vscode/**
.vscode-test/**
out/**
!dist/extension.js
src/**
node_modules/**
images/**/*.psd
.gitignore
.yarnrc
.eslintrc.json
**/tsconfig.json
**/*.map
**/*.ts
test/**
.editorconfig
.prettierrc
.prettierignore
.github/**
.git
*.log
error.log
extension.log
changelog.md
!assets/icon.png