.vscode/**
.vscode-test/**
out/test/**
src/**
node_modules/**
images/**/*.psd
.gitignore
.yarnrc
.eslintrc.json
**/tsconfig.json
**/*.map
**/*.ts
test/**
.editorconfig
.prettierrc
.prettierignore
.github
.git
*.log
error.log
extension.log
changelog.md